---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #df0104;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$bar-height:       50px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

body {
    border-top: 8px solid #A0A0A0;
}

.container-fluid {
    padding-top: 50px;
}
.post-date {
    font-style: italic;
    color: $grey-color;
}

.header-pic {
    max-width: 239px;
}

h1, h2, h3 {
    font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $grey-color-dark;
}

#bash {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul#bash > li {
  padding-left: 1em;
  text-indent: -1em;
}

ul#bash > li:before {
  content: "$";
  padding-right: 4px;
}
