---
layout: default
---
<!--landing-page -->
<div class="container panel" id="landing-page">
    <div class="row">

        <!-- Title -->
        <div class="col-md-8">
            <div id="stage" class="actor__content" ></div>
            <script>
                var theater = theaterJS({
                  "minSpeed": {
                    "erase": 80,
                    "type": 80
                  },

                  "maxSpeed": {
                    "erase": 100,
                    "type": 350
                  }
                })

                theater
                    .on('type:start, erase:start', function () {
                        // add a class to actor's dom element when he starts typing/erasing
                        var actor = theater.getCurrentActor()
                        actor.$element.classList.add('blinking-caret')
                        })
                    .on('type:end, erase:end', function () {
                        // and then remove it when he's done
                        var actor = theater.getCurrentActor()
                        actor.$element.classList.remove('blinking-caret')
                        })

                theater
                    .addActor('stage',{ accuracy: 1.0, speed: 0.7 })

                theater
                    .addScene('stage:Tech Enthusiast', 400)
                    .addScene(1000)
                    .addScene('stage:Developer', 400)
                    .addScene(1000)
                    .addScene('stage:Graphics Designer', 400)
                    .addScene(1000)
                .addScene(theater.replay)
            </script>
        </div>
        <!-- end title -->

        <div class="col-xs-4" id="emblem">
            <img src="assets/emblem.png" class="img-responsive"></img>
        </div>
    </div> 
</div> <!-- end container -->    

<!--about-->
<div class="container panel" id="about">
    <div class="row" style="margin-bottom: 6vw;">
        <div id="job-description" align="middle">
            
            <p>"</p>
            <p>I explore computers to redefine living</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-offset-9">
            <button type="button" class="btn btn-custom">Cover Letter</button>
        </div>
    </div>
</div>

<!--work-->
<div class="container panel" id="works">
    <div class="row">

    <h1>Work Experience</h1>

        <!-- sup -->
        <div class="col-lg-2 col-sm-6 col-xs-12 col-lg-offset-2">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/sup-logo.png" align="middle">
                <div class="overlay">
                    <h2>Sup the App</h2>
                    <p>
                        <a href="#"></a>
                    </p>
                </div>
            </div>
        </div> 
        <!-- end sup -->

        <!-- weinhaus -->
        <div class="col-lg-2 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/weinhaus-logo.png" align="middle">
                <div class="overlay">
                    <h2>WeinHaus</h2>
                    <p>
                        <a href="#"></a>
                    </p>
                </div>
            </div>
        </div> 
        <!-- end weinhaus -->

        <!-- saf -->
        <div class="col-lg-2 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/saf-logo.png" align="middle">
                <div class="overlay">
                    <h2>Singapore Armed Forces</h2>
                    <p>
                        <a href="#"></a>
                    </p>
                </div>
            </div>
        </div> 
        <!-- end saf -->

        <!-- a-star -->
        <div class="col-lg-2 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/sup-logo.png" align="middle">
                <div class="overlay">
                    <h2>A*STAR</h2>
                    <p>
                        <a href="#"></a>
                    </p>
                </div>
            </div>
        </div> 
        <!-- end a-star -->

    </div>
</div>

<!--project-->
<div class="container panel" id="projects">
    <h1>project</h1>
</div>

<!--contact-->
<div class="container panel" id="contact">
    <h1>contact</h1>
    <div class="row">
        <div class="col-md-3">
            <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
            <ul class="social-media-list">
                {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="col-md-3">
            {{ site.description }}
            
        </div>
    </div>
</div>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
<div class="home">
</div>