---
layout: default
title: Home
permalink: /
---

<h1> {{ site.title }} </h1>

<!--my photo-->
<img class="profile-img" src="/assets/profile-img.jpg"/><br>

<p>
I am a Masters in Computer Science student in Cornell University. My academic interests are in Cyber Security technology and in context. I also contribute to Open source projects.

{{ site.category }}
</p>

<!--TODO: resume-->

<!--TODO: get started on projects-->
{% if site.projects == ""%}
    <h2> Current Projects </h2>
    {% for proj in site.projects %}
        <div class="row">
            <ul>
            <li> {{ proj.title }} </li>
            </ul
        </div>
    {% endfor %}
{% endif %}
