<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <img src="/assets/dp.jpg" alt=""/>
        <strong>nicky lim</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Computer Engineering student | Tech Enthusiast | Design Aficionado</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu sollicitudin eros. Nunc suscipit varius ligula non facilisis. Nunc at neque quam. In bibendum, enim sit amet iaculis iaculis, quam diam congue tellus, at aliquam nibh tellus vitae felis. Quisque rhoncus tortor lacus, eget imperdiet purus blandit sit amet. Suspendisse a odio ultricies augue pharetra ornare. Suspendisse scelerisque, nulla a volutpat facilisis, sem odio gravida odio, at suscipit odio orci eget dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam euismod eu quam eu commodo. Vivamus elementum, sapien id varius viverra, ligula odio blandit metus, placerat efficitur est nunc vel nisl. Nam sagittis libero at ante finibus, sed congue ipsum consectetur. Cras sollicitudin dolor et eros ullamcorper, a feugiat mauris iaculis. Morbi convallis sit amet nulla vel venenatis.
        
        Morbi et magna sed libero mollis tempus ut sit amet libero. Sed accumsan iaculis molestie. Pellentesque facilisis ut nibh ac facilisis. Morbi commodo tristique urna ac cursus. Praesent risus lectus, mollis suscipit rutrum sit amet, consequat eget mi. Nullam volutpat non nunc sit amet lacinia. Fusce dapibus dapibus arcu a efficitur.
        
        Generated 2 paragraphs, 185 words, 1235 bytes of Lorem Ipsum</p>

    </div>
</div>
<div class="row">
    <div class="col-md-12 color-bar">
    </div>
</div>
