.panel {
    padding-top: 50px;
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: Futura;
    font-size: 8vw;
    color: white;

}

.margin-btm-20 {
    margin-bottom: 2cm;
}

#landing-page {
    background-color: #111111;
    color: white;
    padding-top: 50px;
    height: 700px;

    #stage {
        font-size: 80px;
        padding: 20px;
        margin-top: 200px;
        margin-left: 100px;
        font-family: Futura;    
    }
    
    .actor__content::after {
      content: '|';
      animation: blink 500ms infinite;
    }

    #emblem {
        margin-top: 200px;
        position: relative;
        max-width: auto; 
        max-height: auto;   
    }
}

 
#about {
    background-color: #eeeeee;
    height: 600px;
    font-family: Avenir;

    #job-description {
        font-size: 5vw;
        width: 100%;
        margin: 0 auto;
    }

    .btn-custom {
        background-color: #ffba00;
        color: #000000;
        border: 0px;
        padding: 18px 28px;
        font-size: 2vw;
        border-radius: 8px;
    }
}
 
#works {
    background-color: #333333;
    height: 700px;
}

#projects {
    background-color: #cccccc;
    height: 700px;
}
 
#contact {
    background-color: #666666;
    height: 700px;

}
