.panel {
    padding: 50px;
    width: 100%;
    margin: 0px;
}

h1 {
    font-family: Futura;
    font-size: 8vw;
    color: white;
    margin-bottom: 8vw;

}

#landing-page {
    background-color: #111111;
    color: white;
    padding: 50px auto;

    #stage {
        font-size: 5vw;
        padding: 1.5vw;
        margin: 0 auto;
        font-family: Futura;    
    }
    
    .actor__content::after {
      content: '|';
      animation: blink 500ms infinite;
    }

    #emblem {
        margin: 10px auto;
        position: relative;
        max-width: 100vw; 
        height: auto;   
    }
}

 
#about {
    background-color: #eeeeee;
    font-family: Avenir;

    #job-description {
        font-size: 5vw;
        width: 100%;
        margin: 0 auto;
    }

    .btn-custom {
        background-color: #ffba00;
        color: #000000;
        border: 0px;
        padding: 18px 28px;
        font-size: 2vw;
        border-radius: 8px;
    }
}
 
#works {
    background-color: #333333;

    img {
        height: 30vh;
        width: auto;
        margin: 10vh auto;
    }
}

#projects {
    background-color: #cccccc;
}
 
#contact {
    background-color: #666666;

    .form-small {
        width: 30%;
    }

    label {
        color: white;
        font-weight: 500;
    }
}
